* {
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.container {
	height: 100vh;
	border-radius: 8px;
	border: 2px solid #1f2121;
}

.chat-box {
	margin-top: 48px;
	padding-inline: 5px;
	width: 100%;
	color: aliceblue;

	&:hover {
		cursor: default;
	}

	& > div {
		display: flex;
		align-items: center;
		gap: 2px;
		margin-bottom: 5px;
	}
}

.chat {
	display: flex;
	align-items: center;
	gap: 5px;

	& img {
		width: 32px;
	}
}

.titlebar {
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;
	height: 30px;
	background: #1f2121;
	user-select: none;
	display: grid;
	grid-template-columns: auto max-content;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-inline: 0.5rem;

	& button {
		border-radius: 100%;
		transition: all ease 100ms;
	}

	& #titlebar-close {
		width: 15px;
		height: 15px;
		background: rgb(72, 72, 72);

		&:hover {
			background-color: rgb(255, 68, 68);
		}
	}

	& #settings {
		width: 20px;
		height: 20px;
		color: bisque;
		display: grid;
		place-items: center;

		&:hover {
			background: rgb(80, 80, 80);
		}
	}
}
.titlebar > .controls {
	display: flex;
	align-items: center;
	column-gap: 1rem;

	& > div {
		width: 30px;
		display: grid;
		place-items: center;
	}
}

#settingsContainer {
	height: 100dvh;
	padding: 1rem;
	background: #1f2121;
	color: aliceblue;

	& .input {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 2rem;
	}
	& input {
		border: 1px solid aliceblue;
		border-radius: 0.5rem;
		padding: 4px;
	}
	& button[type="submit"] {
		background: #087979;
		border-radius: 0.5rem;
		padding: 4px 1rem;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bolder;
	}
}
